.size-20 {
  font-size: 20px;
  line-height: 1;
}

.size-60 {
  font-size: 60px;
  line-height: 1;
}

.medium {
  font-weight: 700!important;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#home {
  max-width: 650px;
  color: #43464b;
  margin: 0 auto;
  padding: 25px 0;
}

#lowerright
{
  position: absolute;
  bottom: 10px;
  right: 10px;
}



